{{ define "content" }}

<table class="d-flex justify-content-center">
  <tr>
    <td>
      Channel 1:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 1}}" hx-post="/api/radio/1"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" hx-swap="innerHTML" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 1 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 1 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 2:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 2}}" hx-post="/api/radio/2"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 2 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 2 📢');">📢 78s 📢</button>
    </td>
  </tr>
  </tr>
  <tr>
    <td>
      Channel 3:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 3}}" hx-post="/api/radio/3"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 3 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 3 📢');">📢 78s 📢</button>
    </td>
  </tr>
  </tr>
  <tr>
    <td>
      Channel 4:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 4}}" hx-post="/api/radio/4"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 4 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 4 📢');">📢 78s 📢</button>
    </td>
  </tr>
  </tr>
  <tr>
    <td>
      Channel 5:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 5}}" hx-post="/api/radio/5"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" placeholder="DoC" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 5 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 5 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 6:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 6}}" hx-post="/api/radio/6"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels"  placeholder="Doctors" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 6 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 6 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 7:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 7}}" hx-post="/api/radio/7"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels"  placeholder="SCU" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 7 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 7 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 8:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 8}}" hx-post="/api/radio/8"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 8 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 8 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 9:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 9}}" hx-post="/api/radio/9"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 9 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 9 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td>
      Channel 10:
    </td>
    <td>
      <input type="text" name="channel_text" value="{{index . 10}}" hx-post="/api/radio/10"
        hx-trigger="keyup changed delay:500ms" hx-target="#radioChannels" />
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 🚨 13A Channel 10 🚨');">🚨 13a 🚨</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
        onclick="navigator.clipboard.writeText('/311 📢 78s  Channel 10 📢');">📢 78s 📢</button>
    </td>
  </tr>
  <tr>
    <td colspan=4>
      <textarea id="radioChannels" name="radioChannels" rows="10" class="form-control" hx-get="/api/radio"
        hx-trigger="every 5s">
{{index . 0}}
      </textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button type="button" name="replymsg" class="btn btn-info" hx-post="/api/radio/replymsg" 
        hx-target="#radioChannels" hx-swap="innerHTML">Toggle Reply message</button>
    </td>
    <td colspan="2">
        <button type="button" class="btn btn-warning" hx-post="/api/radio/reset" 
        hx-target="#radioChannels" hx-swap="innerHTML">Reset</button>
    </td>
  </tr>
</table>

<script>
  document.body.addEventListener('htmx:beforeSwap', function (evt) {
    if (document.hasFocus() && 
        document.getElementById('radioChannels').value !== evt.detail.serverResponse) {
      console.log('Copying message to clipboard');
      navigator.clipboard.writeText(evt.detail.serverResponse);
    }
  });
</script>

{{ end }}
